bcrypt
tree-sitter
tree-sitter-languages
tree-sitter-cpp
tree-sitter-c-sharp
pyyaml
colorama
docxtpl
python-docx
drawpyo
openai
reflex
fastapi
uvicorn
python-dotenv
httpx
Pillow
yandex_ai_studio_sdk