@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');




html, body, .stApp, [data-testid="stAppViewContainer"], main {
    background: #0d1117 !important;
    color: #f4f4f4 !important;
}

p, span, div, h1, h2, h3, h4, h5, h6, label, a, button {
    color: #f4f4f4 !important;
}

/* === SIDEBAR === */
[data-testid="stSidebar"] {
    background: linear-gradient(to bottom, #1a1f26 0%, #0d1117 100%) !important;
    color: #f4f4f4 !important;
    max-width: fit-content;
        width: 158px !important;

        border: none !important;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5) !important;


}

[data-testid="stSidebarNav"] {
    display: none !important;
}

/* === КНОПКИ SIDEBAR === */
[data-testid="stSidebar"] button {
    background: transparent !important;
    color: #f4f4f4 !important;
    border: 2px solid transparent !important;
    border-radius: 12px !important;
    font-weight: 600 !important;
    padding: 6px 8px !important;
    font-size: 0.75em !important;
    transition: all 0.25s ease !important;
    box-shadow: none !important;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    width: 100% !important;
    justify-content: flex-start !important;
    height: auto !important;
    min-height: auto !important;
    position: relative;
    z-index: 1;
    display: flex !important;
    align-items: left !important;


}

/* === ГРАДИЕНТНАЯ РАМКА HOVER === */
[data-testid="stSidebar"] button::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: linear-gradient(135deg, #1D2B64, #F8CDDA);
    z-index: -1;
    border-radius: 14px;
    opacity: 0;
    transition: opacity 0.25s ease;
    pointer-events: none;
}

[data-testid="stSidebar"] button:hover::before {
    opacity: 1;
}

[data-testid="stSidebar"] button:hover {
    background: transparent !important;
    color: #F8CDDA !important;
    border: 2px solid transparent !important;
}

[data-testid="stSidebar"] button:active {
    transform: scale(0.98) !important;
}


/* === INPUT === */
input, textarea, select {
    background: #161616 !important;
    color: #f4f4f4 !important;
    border: 1px solid #21262d !important;
}

input:focus, textarea:focus, select:focus {
    background: #0d1117 !important;
    color: #f4f4f4 !important;
    border: 1px solid #30363d !important;
}

